@import "variables";

footer {
  text-align: center;
  padding: 3em;
  margin-top: 2em;

  h3 {
    font-size: 1em;
    font-weight: 500;
    color: $Black;

    a {
      box-shadow: 0px 1px 1px 1px yellow;
      color: yellow;
      display:inline-block;
      text-decoration: none;
  border-radius: 7px;
      padding: 0.3em;
      transition: .5s;

      &:hover {
      box-shadow: 0px 1px 1px 1px rgb(255, 255, 255);
      color: rgb(255, 255, 255);


      }
    }
  }
}
