@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap");
$Primary: rgb(172, 148, 172);
$Secondary: rgb(233, 218, 233);
$White: rgb(241, 241, 241);
$Black: rgb(50, 0, 50);
$Gray: rgb(96, 96, 96);

$Red: rgb(210, 171, 171);
$Blue: rgb(163, 163, 204);
$Yellow: rgb(142, 194, 142);
$Green: rgb(198, 198, 143);

$Half_Radius: 0.8em;
$mediumScreen: 550px;
$largeScreen: 1025px;

html{
scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  
}

@mixin Flex($dir: row, $jus: center, $ali: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jus;
  align-items: $ali;
  flex-wrap: wrap;
}

@mixin Screen($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
